<ion-header class="headerHome">
  <ion-navbar no-border-bottom color="header">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>

		<ion-segment [(ngModel)]="segment" (ionChange)="updateSchedule()"  color="textHeader" >
	      <ion-segment-button value="semua">
	        Semua
	      </ion-segment-button>
	      <ion-segment-button value="populer">
	        Populer
	      </ion-segment-button>
	      <ion-segment-button value="terbaru">
	        Terbaru
	      </ion-segment-button>
	    </ion-segment>

	    <ion-buttons end>
	      <button ion-button icon-only (click)="presentFilter()">
	        <ion-icon ios="ios-more" md="md-more"></ion-icon>
	      </button>
	    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top color="header">
    <ion-searchbar color="primary"
                   [(ngModel)]="queryText"
                   (ionInput)="updateSchedule()"
                   placeholder="Search">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content padding="true" class="has-header" >
	<!-- ============================= IMAGES SLIDE ========================================================= -->
    <ion-slides autoplay="5000" loop="true" speed="3000" style="width:100%;height:200px;" class="slideImage">
	    <ion-slide *ngFor="let slide of slideData">
	      <img src="{{slide.image}}" />
	    </ion-slide>
	</ion-slides>
	<!-- ============================= LIST CARDS BERITA ========================================================= -->
	<ion-card *ngFor="let card of cards1" class="cardHome">

      <ion-item >
      	<ion-avatar item-left>
          <img class="avatarCard" src="../assets/imgs/proper 17_con.jpg" />
        </ion-avatar>

        <p class="textDesc text-wrap">PG Kucurkan Bantuan Untuk Korban Banjir Di Lamongan</p>

         <ion-row>
        <ion-col right text-right>
          <ion-note class="cardLink">
            Selengkapnya ...
          </ion-note>
        </ion-col>
      </ion-row>

      </ion-item>
 
     
 
    </ion-card>
    <ion-card *ngFor="let card of cards2"  class="cardHome">

      <ion-item >
      	<ion-avatar item-left>
          <img class="avatarCard" src="../assets/imgs/sni17_con.jpg" />
        </ion-avatar>

        <p class="textDesc text-wrap">PG Kucurkan Bantuan Untuk Korban Banjir Di Lamongan</p>

        <ion-row>
        <ion-col right text-right>
          <ion-note class="cardLink">
            Selengkapnya ...
          </ion-note>
        </ion-col>
      </ion-row>

      </ion-item>
 
    </ion-card>
    
</ion-content>
