
.ios, .md {
 
    page-home {
        .slideImage{
          padding-bottom: 20px;
          margin-bottom: -20px;
        }
        ion-header {
        }
        .textButtonHeader{
          color: #fff;
          font-weight: bold;
        }
        ion-navbar {
        }

        ion-avatar{
          border-radius: 0px;
        }

        .avatarCard{
          height: 80px;
          width: 80px;
          border-radius: 0px;
        }

        .cardHome{
          border-top-color: #00b052;
          border-top-style: outset;
          border-width: 1px;
          border-color: #00b052;
          box-shadow: 0 3px 3px rgb(9, 95, 25);
        }

        .avatarCard{
          height: 80px;
          width: 80px;
          border-radius: 0px;
        }

        .cardLink{
          color: blue;
        }

        p.textDesc{
          color: #000;
          white-space: normal;
        }
 
    }
 
}