    .selectTahun{
      border-color: #00b052;
      color: #000;
      font-weight: bold;
      font-family: fantasy;
    }
    .col-4{
      border-style: none;
    }
    img{
      height: 128px;
      width: 108px;
    }
    .item.buttonDownload{
      font-family: fantasy;
      border-color: #00b052;
      border-width: 3px;
      background-color: #fff;
      padding: 5px;
    }
    .card {
      padding-top: 1px;
      padding-bottom: 1px;
      font-size: 20px;
      text-align: center;
      box-shadow: 0 3px 3px rgb(9, 95, 25);
    }
    .row{
      padding-top: 5px;
      padding-left: 0px;
    }
    .item-divider {
    padding-top: 8px;
    padding-bottom: 8px;
    min-height: 30px;
    background-color: #dfd5d5;
    color: #222;
    font-weight: 500;
    }