
.ios, .md {
 
    page-kegiatan-tahunan {
        .rowBeritaReportase {
		  margin: 0 auto;
		  text-align: center;
		  
	
		  &:nth-child(2),
		  &:nth-child(8),
		  &:nth-child(10){
		  }
		  &:nth-child(3),
		  &:nth-child(7) {
		    background: #377D6A;
		  }
		  &:nth-child(4),
		  &:nth-child(6) {
		    background: #7AB893;
		  }
		  &:nth-child(5) {
		    background: #B2E3AF;
		  }
		  
		  span {
		    position: relative;
		    display: inline-block;
		    margin: 30px 10px;
		  }
		}
		.basic-slide {
		  display: inline-block;
		  width: 301px;
		  padding: 10px 0 10px 15px;
		  text-align: center;
		  font-family: "Open Sans", sans;
		  font-weight: 400;
		  color: #377D6A;
		  background: #efefef;
		  border: 0;
		  border-radius: 3px;
		  outline: 0;
		  text-indent: 70px; // Arbitrary.
		  transition: all .3s ease-in-out;
		  
		  &::-webkit-input-placeholder {
		    color: #efefef;
		    text-indent: 0;
		    font-weight: 300;
		  }

		  + label {
		    display: inline-block;
		    position: absolute;
		    top: 0;
		    left: 0;
		    color: #fff;
		    padding: 10px 15px;
		    text-align: center;
		    text-shadow: 0 1px 0 rgba(19,74,70,.4);
		    background: #1b5e20;
		    transition: all .3s ease-in-out;
		    border-top-left-radius: 3px;
		    border-bottom-left-radius: 3px;
		  }
		}
		.cardUtamaKegiatan{
			text-align: center; 
			box-shadow: 0px; 
			padding-bottom: 5px; 
			padding-top: 10px;
			margin-bottom: 5px; 
			width: 60%;
			margin-left: 20%;
		}
		.card-md {
			-webkit-box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.2), 0 3px 1px -2px rgba(255, 255, 255, 0.2), 0 1px 5px 0 rgba(255, 255, 255, 0.2);
    		box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.2), 0 3px 1px -2px rgba(255, 255, 255, 0.2), 0 1px 5px 0 rgba(255, 255, 255, 0.2);
		}
		.selectTahun{
	      border-color: #1b5e20;
	      border-style: solid;
	      border-width: 1px;
	      margin-top: 20px;
	      margin-left: 10px;
	      margin-right: 10px;
	      font-family: fantasy;
	    }
	    .selectText{
	      color: #000;
	    }
		.cardTahunan{
			border-bottom: thin;
			border-color: #00b052;
			box-shadow: 0 3px 3px rgb(9, 95, 25);
		}
		.alert-md.alert-title {
		    font-size: 22px;
		    text-align: center;
		    padding-left: 30px;
		}
 		.alert-title {
		    margin: 0;
		    padding-left: 30px;
		}
		.headerCardTahun{
			text-align: center;
			background-color: #cfd8dc;
		}
		.contentCardTahun{
			padding-top: 10px;
			padding-left: 15%;
			height: 180px;
		}
		.buttonDownloadTahun{
			background-color: #fff;
			border-style: solid;
			border-width: 2px;
			border-color: #00b052;
			color: #000;
			text-transform: none;
		}
		img.kegiatanTahun{
	      height: 150px;
	      width: 120px;
	    }
    }
 
} 