page-pemasaran {
.accordion {
    background-color: #fff;
    color: #000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border-right: none;
    outline: none;
    transition: 0.4s;

}
.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #000;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
    color: #fff;
}

/* Add a background color to the button if it is clicked on (add the
.active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #43a047;
    color: #fff;
    font-weight: bold;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    /*background-color: #f1f8e9;hijau muda*/
    background-color: #f1f8e9;
    display: none;
    overflow: hidden;
}
p.textFaqs{
  text-align: justify;
}
.item.listFaqs {
  white-space: unset;
    border-color: #ddd;
    /*background-color: #eceff1;abu" muda*/
    background-color: #f1f8e9;
    color: #000;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    border-width: 1px;
    border-style: solid;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.item-icon-left {
    padding-left: 50px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
    border-radius: 5px 5px 0 0;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}
}
